a.white-btn {
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 0.85em;
	margin-top: 1.25em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.white-btn:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}
a.color-btn, form.customform button.color-btn {
	background: none;
	border: 1px solid #001925;
	border-radius: 3px;
	color: #001925;
	display: block;
	font-size: 0.85em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.color-btn:hover, form.customform button.color-btn:hover {
	border: 1px solid #92c500;
	color: #92c500;
}
#topbar {
	background: none repeat scroll 0 0 #012232;
	border-bottom: 1px solid #001925;
	padding: 0.3125em 0;
}
#topbar p {
	color: #fff;
	font-size: 0.75em;
	opacity: 0.5;
	position: relative;
	top: 2px;
}
#topbar p strong {
	font-weight: 600;
}
#topbar i {
	color: #ffffff;
	font-size: 1.1em;
	opacity: 0.5;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
	padding-left: 2px;
}
#topbar i:hover {
	color: #92c500;
	cursor: pointer;
	opacity: 1;
}
nav {
	background: none repeat scroll 0 0 #00283a;
}
header {
	border-bottom: 4px solid rgba(0, 40, 58, 0.53);
	position: fixed;
	width: 100%;
	z-index: 10;
}
p.logo {
	color: #fff;
	font-size: 1.7em;
	font-weight: 300;
	/*position: relative;*/
	text-transform: uppercase;
	/*top: 0.625em;*/
	transform: translateY(8%);
}
p.logoInner {
	color: #fff;
	font-size: 1.7em;
	font-weight: 300;
	/*position: relative;*/
	text-transform: uppercase;
	/*top: 0.625em;*/
	/*transform: translateY(35%);*/
	width: 15%;
}
p.logo strong {
	font-weight: 700;
}
.top-nav li a {
	border-top: 2px solid #00283a;
	color: #fff;
	font-size: 0.95em;
	font-weight: 600;
	padding: 2.1em 1.5em 2.5em;
	text-transform: uppercase;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
.top-nav li a:hover, .top-nav li.active-item a {
	background: none repeat scroll 0 0 #00283a;
	border-top: 2px solid #92c500;
	color: #92c500;
	position: relative;
}
#carousel .text {
	position: absolute;
	top: 40%;
	z-index: 10;
}
.item {
	overflow: hidden;
	width: 100%;
}
.prev-arrow, .next-arrow {
	background: none repeat scroll 0 0 #00283a;
	cursor: pointer;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 1px;
	text-align: center;
	width: 30px;
}
/*#carousel .text h2 {
	background: none repeat scroll 0 0 rgba(146, 197, 0, 0.8);
	color: #fff;
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	margin: 1px 0;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
}*/
#carousel .text h2 {
color: #fff;
display: inline-block;
font-size: 3em;
font-weight: bolder;
margin: 1px 0;
max-width: 600px;
padding: 0px 20px;
width: 100%;
}
/*#carousel .text p {
	background: none repeat scroll 0 0  rgba(0,40,58,0.8);
	color: #fff;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
}*/
#carousel .text p {
   /* background: none repeat scroll 0 0 rgba(0,40,58,0.8);*/
    color: #fff;
    max-width: 700px;
    padding: 7px 20px;
    width: 100%;
	height: fit-content;
}
#carousel .owl-dots {
	background: none repeat scroll 0 0 rgba(0, 40, 58, 0.53);
	bottom: 0;
	margin: 0;
	padding: 0.625em 0;
	position: absolute;
	width: 100%;
}
.owl-carousel.owl-theme .owl-dot span {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 3px solid rgba(0, 40, 58, 0.57);
	height: 18px;
	margin: 0 0.3125em;
	opacity: 1;
	width: 18px;
}
.owl-carousel.owl-theme .owl-dot.active span, .owl-carousel.owl-theme .owl-dot:hover span {
	background: none repeat scroll 0 0 #92c500;
}
#first-block {
	background: none repeat scroll 0 0 #00283a;
	padding: 3em 2em;
	text-align: center;
}
#first-block h1 {
	color: #fff;
	font-size: 2em;
	font-weight: 300;
	margin-top: 0;
}
#first-block p {
	color: #adc3ce;
	font-size: 0.85em;
}
#features {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	text-align: center;
	justify-content: left;
	z-index: 2;
}
#features i {
	background: none repeat scroll 0 0 #92c500;
	border-radius: 100px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3) inset;
	color: #fff;
	display: inline-block;
	font-size: 2em;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 100px;
	transition: all 0.5s;
}
#features i:hover{
	background: none repeat scroll 0 0 #00283a;
}
#features h2 {
	font-size: 1em;
	font-weight: 600;
	margin: 1.25em 0;
	text-transform: uppercase;
}
#features p {
	color: #777;
	font-size: 0.85em;
	line-height: 1.5em;
}
#about-us {
	background: none repeat scroll 0 0 #00283a;
	clear: both;
}
#about-us:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
#about-us article {
	padding: 4em;
}
article h2 {
	font-size: 4em;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 0.9;
	margin: 0 0 0.625em 0
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	color: #fff;
}
.media-container {
  overflow: hidden;
}
.media-container video, .media-container img {
  display: block;
  height: 100%;
  max-width: none;
  min-width: 100%;
  width: auto;
}
article p, article li {
	color: #fff;
	font-size: 0.85em;
	opacity: 0.7;
}
article ul {
	padding: 1.25em 0;
}
article ul li {
	list-style-type: none;
	margin: 0.625em 0;
	padding: 0 0 0 1em;
}
article ul li:before {
	background: #00283a none repeat scroll 0 0;
	color: #fff;
	content: "\f006";
	display: inline-block;
	font-family: "mfg";
	font-size: 0.8em;
	height: 20px;
	line-height: 20px;
	margin-left: -1em;
	margin-right: 0.625em;
	text-align: center;
	width: 20px;
}
.about-us-icons i {
	border: 2px solid #92c500;
	border-radius: 100px;
	color: #92c500;
	display: block;
	float: left;
	font-size: 1.6em;
	height: 60px;
	line-height: 60px;
	margin-right: 0.625em;
	text-align: center;
	width: 60px;
}
.about-us-icons {
	display: block;
	margin-top: 2em;
}
h2.section-title:after {
	background: #494848 none repeat scroll 0 0;
	content: "";
	display: block;
	height: 1px;
	margin: 0.31225em auto 0;
	position: relative;
	width: 100px;
}
h2.section-title {
	/*color: #dedede;*/
	color: #494848;
	font-size: 3.8em;
	font-weight: 700;
	letter-spacing: -1px;
	margin: 0 0 1.25em;
	text-align: center;
	text-transform: uppercase;
}
#our-work {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 3em 2em;
	position: relative;
	z-index: 2;
}
#our-work h2 {
    margin: 0 0 0.25em;
}
.tab-item {
	background: #fff none repeat scroll 0 0;
	margin-top: 1.25em;
	padding: 1.25em 0;
}
.our-work-container {
	display: block;
	height: 100%;
	position: relative;
}
.our-work-text {
	background: #00283a none repeat scroll 0 0;
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	padding: 1.25em;
	position: absolute;
	right: 0;
	text-align: center;
	transition: opacity 0.20s linear 0s;
	-o-transition: opacityd 0.20s linear 0s;
	-ms-transition: opacity 0.20s linear 0s;
	-moz-transition: opacity 0.20s linear 0s;
	-webkit-transition: opacity 0.20s linear 0s;
	width: 100%;
}
.our-work-container:hover > .our-work-text {
	opacity: 1;
}
.our-work-text h4 {
	color: #fff;
	font-size: 1em;
	font-weight: 600;
}
.our-work-text p {
	color: #fff;
	font-size: 0.8em;
	opacity: 0.7;
}
.tab-nav {
	display: table;
}
a.tab-label, a.tab-label:link, a.tab-label:visited {
	background: #00283a none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 1em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.tab-label:hover, a.tab-label.active-btn {
	background: #92c500;
	color: #fff;
}
#services {
	background: #6f9600 none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
}
#services h2 {
	color: #fff;
	margin: 0 0 1.25em;
	margin-bottom: 40px !important;
}
#services h2.section-title:after {
	background: #fff none repeat scroll 0 0;
}
#services i {
	background: none repeat scroll 0 0 #fff;
	border-radius: 80px;
	color: #6f9600;
	display: block;
	float: left;
	font-size: 1.8em;
	height: 80px;
	line-height: 80px;
	margin-right: 0.625em;
	text-align: center;
	width: 80px;
}
.service-text {
	display: table;
	position: relative;
}
#services h3 {
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
#services p {
	color: #fff;
	font-size: 0.8em;
}
#latest-news {
	background: #f3f3f3 none repeat scroll 0 0;
	box-shadow: 0px -10px 9px -11px rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	z-index: 3;
}
.news-date {
	background: #6f9600 none repeat scroll 0 0;
	clear: both;
	color: #fff;
	display: block;
	float: none;
	height: 125px;
	padding: 0.625em 0;
	text-align: center;
	width: 100%;
}
.day {
	font-size: 2.5em;
	font-weight: 700;
}
.month, .year {
	font-size: 0.85em;
}
.news-text {
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	height: 125px;
	padding: 0.625em 1.25em;
}
.news-text p {
	color: #777;
	font-size: 0.85em;
}
#contact {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 3em 2em;
	position: relative;
	z-index: 2;
}
#contact input, #contact textarea {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px;
}
form.customform button.color-btn {
	height: auto;
	margin-top: 0;
}
#contact h2 {
	margin: 0 0 0.25em;
}
#contact h3 {
	color: #92c500;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.625em;
	text-transform: uppercase;
}
#contact p {
	font-size: 0.85em;
	font-style: normal;
	line-height: 2em;
}
#contact p strong {
	font-weight: 700;
}
#contact i {
	background: #00283a none repeat scroll 0 0;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	line-height: 26px;
	margin: 0.625em;
	text-align: center;
	width: 26px;
}
#map-block {
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);    
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}
footer {
	background: none repeat scroll 0 0 #00283a;
	padding: 3.5em 0;
}
footer p, footer a:visited, footer a, footer a:hover {
	color: #6c7c84;
	font-size: 0.8em;
}
@media screen and (max-width: 768px) {
p.logo {
    transform: translateY(4%);
    width: 70%;
}

  header {
  	position: relative;
  }
  .top-nav li a {
  	background: #05374e none repeat scroll 0 0;
  	padding: 1.1em 1.5em 1.1em;padding: 1.1em 1.5em 1.1em;
  }
  #carousel .text {
  	font-size: 0.8em;
  	top: 20%;
  }
  .owl-controls.clickable {
  	display: none!important;
  }
  .right {
  	float: none;
  }
  .social.right {
  	float: right;
  }
  #about-us article {
  	padding: 4em 2.5em;
  }
}
@media screen and (max-width: 480px) {
  #topbar {
  	line-height: 1.625em;
  	text-align: center;
  }
  .social.right {
  	float: none;
  }
  p.logo {
    transform: translateY(25%);
    width: 100%;
}
  p.logo, p.nav-text {
  	/*text-align: center;*/
  }
}

.btn-round{
	width: 50px !important;
height: 50px !important;
line-height: 50px !important;
font-size: 1em !important;
margin-top: 15px;
transition: all 0.5s;
}
#features  a i.btn-round:hover{

	background-color: #00283a;
}

#features p {
    min-height: 80px;
}
.clr{
	clear: both;
	display: table;
	content: '';
}

#services i img{
		border-radius: 50%;

width: 80px;

height: 80px;

padding: 5px;

display: table;
}
#services h5{
	color: #fff;
	font-size: 15px;
	font-weight: bold; 
	margin-bottom: 0px;
}
#services label{
	font-size: 12px;
	color: white;
	margin-bottom: 10px;
	display: block;
}

/*Slider*/

.slider{
		position: relative;
		width: 100%;
		overflow: hidden;
		transition: all .3s;
		perspective: 900px;
		transform-style: preserve-3d;
	}
	.slider .previous, .slider .next{
		font-family: "FontAwesome";
		font-size: 20px;
		position: absolute;
		top: 50%;
		color: white;
		padding: 20px;
		text-decoration: none;
		left: -100px;
		margin-top: -34px;
		transition: all .3s;
		opacity: 0;
		z-index: 10000;
	}
	.slider .next{
		right: -100px;
		content: "\f054";
		left: auto;
	}
	.slider:hover .previous, .slider:hover .next{
		opacity: 1;
	}
	.slider:hover .previous{
		left: 0;
	}
	.slider:hover .next{
		right: 0;
	}
	.slider .slides{
		height: 100%;
	}
	.slide{
		padding: 10%;
		width: 100vw;
		text-align: center;
		position: absolute;
		transform: scale(0.5,0.5);
		opacity: 0;
		transition: all .3s;
	}

	.slide.blue{
		background: #1E73BE;
		color: white;
	}
	.slide.white{
		background: #ccc;
		color: #444444;
	}
	.slide.red{
		background: #BF525A;
		color: white;
	}
	.slide.active{
		z-index: 10;
		left: 0;
		opacity: 1;
		transform: scale(1,1);
	}

	.slide.inactiveLeft{
		left: -100vw;
		z-index: 11;
	}
	.slide.inactiveRight{
		left: 100vw;
		z-index: 11;
	}
  .slide:after{
    content: attr(data-icon);
    font-family: "FontAwesome";
    font-size: 15vw;
    position: absolute;
    bottom: -8vw;
    left: 0;
    opacity: 0.3;
  }
	.slide a{
		color: inherit;
		border: 2px solid;
		padding: 10px;
		font-size: 1.3vw;
		margin-top: 20px;
		display: inline-block;
		transition: all .3s;
		text-transform: uppercase;
		letter-spacing: 1px;
		position: relative;
	}
	.slide a:hover{
		background: rgba(255, 255, 255, 0.2);
		border: 2px solid transparent;
		text-decoration: none;
		letter-spacing: 2px;
		padding-right: 30px;
	}
	.slide a:after{
		content: " \f105";
		font-family: "FontAwesome";
		position: absolute;
		margin-left: -10px;
		transition: all .3s;
		opacity: 0;
	}
	.slide a:hover:after{
		margin-left: 10px;
		opacity: 1;
	}
	.slider .bullets{
		text-align: center;
		position: absolute;
		bottom: 10px;
		width: 100%;
	}
	.slider .bullets .bullet{
		position: relative;
		display: inline-block;
		background: rgba(255,255,255,.8);
		border-radius: 50%;
		width: 8px;
		height: 8px;
		z-index: 14;
		margin: 0 5px;
		cursor: pointer;
		border: 2px solid transparent;
		transition: all .3s;
	}
	.slider .bullets .bullet.active{
		background: rgba(255,255,255,.4);
	}
	.slider .bullets .bullet:hover{
		border: 2px solid rgba(255,255,255,.8);
		background: transparent;
	}

	/*INNER PAGE*/

/*	.inner{
		max-height: 200px!important;
		display: block;
	}
	.inner#carousel .text {
    position: absolute;
    top: 16%;
    z-index: 10;
}

.innerContent{
	
}*/
.innerBanner{
	background-image: url(../img/aboutinner.jpg) ;
	background-position:top center;
	background-repeat: no-repeat;
	height: 500px;
	background-size: cover;
}
.innerBanner01{
	background-image: url(../img/aboutinner.jpg) ;
}
.innerBanner02{
	background-image: url(../img/fpik9.jpg) ;
}
.innerBanner03{
	background-image: url(../img/inner02.jpg) ;
}
.innerBanner04{
	background-image: url(../img/parkResized.jpg) !important;
}
.innerBanner05{
	background-image: url(../img/City_Resized.jpg) ; 
}
.innerBanner06{
	background-image: url(../img/fpik14.jpg) ; 
}
.innerBanner img{
	width: 100%;
}
.innerpageAbout{
	background-color: #fff !important;
	
}
.innerpageAbout h2,.innerpageAbout p{
	color: #012232 !important;
}
.innerpageAbout p{
	margin-bottom: 15px;
}
.innerpage p{
	margin-bottom: 15px;
	min-height: unset !important;
	text-align: left !important;
	color: #012232 !important;
}
.innerpage h2 {
    font-size: 4em!important;
    font-weight: 900!important;
    letter-spacing: -2px!important;
    line-height: 0.9!important;
    margin: 0 0 0.625em 0!important;
    text-align: left !important;
}
.innerpage span.icon-color{
	color:#92c500;
	padding-right: 10px;
}
.client ul{
	list-style: none;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}
.client li{
	float: left;
	padding: 10px 10px;
	border-right: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	box-sizing: border-box;
	width: 25%;

}
.client li:hover{
	    box-shadow: 0 -2px 16px -1px #ccc;
    background-image: none;
}
/*.client ul li:first-child{
	
	border-right: 1px solid #e0e0e0;
	
}*/
/*.client ul li:last-child{
	
	border-right: 0px solid #e0e0e0;
	
}*/
.client li:nth-child(1),.client li:nth-child(2),.client li:nth-child(3),.client li:nth-child(4){
	
	border-top: 1px solid #e0e0e0;
	
}
/*.client li:nth-child(4){
	
	border-right: 0px solid #e0e0e0;
	
}*/
.client li img
{
	width: 100px;
	height: 100px;
	/*float: left;
	padding-right: 15px;*/
	margin: 0 auto;
}
.client .heading {
    color: #92c500 !important;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}
.client p{
	font-weight: normal;
	text-align: center !important;
}
.plants h5{
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
}
.plants img
{
	width: 250px;
	height: 250px;
	float: left;
	object-fit: cover;
	margin-right: 20px;
}
.plants p{
	float: left;
	text-align: justify;
	padding-right: 20px;
	display: contents;
}
.plants .padding15{
	padding: 15px;
}


	@media screen and (max-width: 768px) {


/*.inner#carousel .text {
    position: absolute;
    top: 13%;
    z-index: 10;
}*/
p.logoInner {
	
	width: 25%;
}
.margin-bottom {
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #f0f0f0;
    
}
.margin-mob {
    margin-bottom: 1.25em;
    display: block;
}

.client li{

	width: 50%;
}
.plants .padding15{
	padding: 0px;
}

	}



	@media screen and (max-width: 480px) { 
p.logoInner {
	
	width: 35%;
}

.innerBanner{
	
	height: 200px;

}

.margin-bottom {
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #f0f0f0;
}

.margin-mob{
	margin-bottom: 1.25em;
	display: block;
}

.client li{

	width: 100%;
	float: none;
}
.client li img
{
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;

}

.plants img
{
	width:100%;
	height: auto;
	float: none;
	object-fit: cover;
	margin-right: 0px;
	margin-bottom: 15px;
}
.plants p{
	float: none;
	text-align: justify;
	padding-right: 0px;
	display: block;
}

.plants .padding15{
	padding: 0px;
}

	}

	.youtube{
		
background-color: rgba(255, 255, 255, 1) !important;

border-radius: 86%;

padding: 0px 4px 0px 4px !important;

font-size: 0.98em !important;

text-align: center;

margin-left: 6px;


color: #012232 !important;
	}
		.youtube:hover{
		
background-color: #9BB800 !important;


	}

	.heading{
		color: #92c500 !important;
		font-size: 18px;
		font-weight: bold;
	}

/*	.youtube i{
		color: #012232 !important;
		opacity: 1 !important;
	}*/

	.innerpage ul{
		list-style: disclosure-closed;
	}
.right{
	float: right;
}
.home{
	list-style: none;
	font-family: 'Roboto',sans-serif;
	font-size: 30px;
}
.home a{
	text-decoration: none;
	color: #496301;
}
.clientimg img{
	width: 100%;
}

.table-container{
				
	padding: 0 10%;
	margin: 40px auto 0;
	
}
.heading{
	font-size: 40px;
	text-align: center;
	color: #f1f1f1;
	margin-bottom: 40px;
}
.table{
   width: 100%;
   border-collapse: collapse;
   
}

.table thead{
		background-color: #92c500;
		
}
.table thead tr th{
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0.35px;
		color: #FFFFFF;
		opacity: 1;
		padding: 12px;
		vertical-align: top;
		border: 1px solid #dee2e685;
		
}
.table tbody tr td{
		font-size: 14px;
		letter-spacing: 0.35px;	
		font-weight: normal;
		color: #444;
		background-color: #3c3f44;
		padding: 8px;
		text-align: center;
		border: 1px solid #dee2e685;
		
}
.table .text_265{
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.35px;
	color: #444;
	
}
.table tbody tr td .btn{
	width: 130px;
	text-decoration: none;
	line-height: 35px;
	display: inline-block;
	background-color: #92c500;
	font-weight: medium;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	font-size: 14px;
	opacity: 1;
	
}
							
			@media (max-width: 768px){
				.table thead{
				display:none;
				}
				.table, .table tbody, .table tr, .table td{
				display: block;
				width: 100%
				}
				
				.table tr{
				   margin-bottom: 15px;
				}
				.table tbody tr td{
				     text-align: right;
					 padding-left: 50%;
					 position: relative;
					 	}
						.table td:before{
						content: attr(data-label);
						position: absolute;
						left: 0;
						width: 50%;
						padding-left: 15px;
						font-weight: 600;
						font-size: 14px;
						text-align: left;
						
						}
			}
.ser02align {
	align-items: left;
}